<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">




<div class="login-container">
    <form class="login-form">
      <img src="assets/login-logo.png" alt="Logo" class="logo">
      <mat-form-field appearance="outline">
        <mat-label>
          <mat-icon>person</mat-icon>
          Username
        </mat-label>
        <input matInput [(ngModel)]="username" name="username" placeholder="Username">
        <span *ngIf="usernameError">{{usernameError}}</span>
      </mat-form-field>
       
      <mat-form-field appearance="outline">
        <mat-label>
          <mat-icon>lock</mat-icon>
          Password
        </mat-label>
        <input matInput [(ngModel)]="password" name="password" type="password" placeholder="Password">
        <span *ngIf="passwordError">{{passwordError}}</span>
      </mat-form-field>
        
      <button mat-raised-button color="primary" (click)="login()">
        <mat-icon>login</mat-icon>
        Login
      </button>
      <div class="register-link">
        <small>Don't have an account? </small>>
        <a mat-button routerLink="/register">
          <mat-icon>person_add</mat-icon>
          Register here
        </a>
      </div>
      <p>OR</p>   <br>
  
      <asl-google-signin-button type='icon' size='medium'   ></asl-google-signin-button>
    </form>
  </div>
 
  

  <div *ngIf="socialuser">
    <img src={{socialuser.photoUrl}}>
    <div>
      <h3>{{socialuser.name}}</h3>
      <p> {{socialuser.email}}</p>
      <p> {{socialuser.id}}</p>
    </div>
  </div>