<div class="welcome-container">
    <mat-card class="welcome-card">
      <mat-card-header>
        <div class="welcome-logo">
          <mat-icon>restaurant</mat-icon>
        </div>
        <mat-card-title>Welcome to Recipee Community Portal</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Share and explore delicious recipes from around the world!
            Join our community and discover a world of culinary delights.</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" disabled="true">Get Started</button>
      </mat-card-actions>
    </mat-card>
  </div>
  